<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>UNO Association for Computing Machinery | <%= @title %></title>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>
  <div class="container">
    <div id="header">
        <%= image_tag("logo.png", :alt => "ACM logo?", :class => "round") %>
        <ul class="navigation round">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Calendar", events_path %></li>
          <li><%= link_to "Interest Groups", groups_path %></li>
          <li><%= link_to "About", about_path %></li>
          <% if signed_in? %>
          <li><%= link_to "My profile", current_person %></li>
          <li><%= link_to "Edit profile", edit_person_path(current_person) %></li>
          <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
          <% else %>          
          <li><%= link_to "Sign in", signin_path %></li>
          <%end%>
        </ul>
      </div>
      <div id="content" class = "round">
       <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %> 
       <h1><%= @title %></h1>
       <%= yield %>
     </div>
  </div> 
  </body>
</html>
